<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>Leaderboard</title>
</head>
<body>
<section class="leaderboard">
    <table>
        <thead>
        <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Time</td>
            <td>Language</td>
            <td>Code</td>
        </tr>
        </thead>
        {% for result in results %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{result.user}}</td>
            <td>{{result.time if result.success else 'FAILED'}}</td>
            <td>{{result.language}}</td>
            <td><button class="draw-border btn" onclick="showCodeModal(`{{result.code}}`)">Show code</button></td>
        </tr>
        {% endfor %}

    </table>
</section>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span onclick="hideModal()" class="close">&times;</span>
        <p><code id="user-code"></code></p>
    </div>
</div>

<script>
  let modal = document.getElementById("myModal");

  function showCodeModal(code) {
    document.querySelector('#user-code').innerHTML = code.replace(/\n/g, '<br>').replace(/ /g, '&nbsp;')
    modal.style.display = "block";
  }

  function hideModal() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
        hideModal();
    }
  }

</script>
</body>
</html>