<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>question</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dark.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
</head>
<body>
<div class="question">
    <h1>{{ question.name }}</h1>
    <p id="question-text">{{ question.description }}</p>
    <h3>Test questions</h3>
    {% for test in question.questions %}
    <div class="test-text">
        <h4>Test {{ loop.index }}</h4>
        <p>INPUT: <br> {% for inp in test.input %} {{inp}}{{ ", " if not loop.last else "" }} {% endfor %}</p>
        <p>ANSWER: <br>{{ test.answer }}</p>
    </div>
    {% endfor %}

</div>

<div class="answer">
    <form id="form" onsumbit="event.preventDefault()">


        <input type="text" id="username" name="username" hidden>
        <select name="language" id="language" onchange="updateCode()">
            <option value="python">Python3</option>
            <option value="javascript">Javascript</option>
        </select>

        <button onclick="testCode(event)" class="btn draw-border run-btn code-btn">Run code</button>
        <div class="editor">
        </div>
        <button onclick="submitCode(event)" class="btn draw-border code-btn">Submit solution</button>


    </form>
    <div id="output" class="output">></div>
</div>

<div id="user-modal" class="modal">
    <div class="modal-content">
        <h1>Enter username to continue:</h1>
        <input type="text" id="username-input"/><button class="draw-border btn" onclick="saveUsername()">Submit</button>
    </div>
</div>



<script type="module">
  import {CodeJar} from "https://cdn.jsdelivr.net/npm/@medv/codejar@1.0.6/codejar.js"
  import {withLineNumbers} from "https://cdn.jsdelivr.net/npm/@medv/codejar@1.0.6/linenumbers.js"

  const editor = document.querySelector(".editor")

  const highlight = editor => {
    editor.textContent = editor.textContent
    hljs.highlightBlock(editor)
  }

  const jar = new CodeJar(editor, withLineNumbers(highlight),{
    tab: "  "
  })

  function updateCode() {
    let lang = document.querySelector('#language').value
    jar.updateCode(
      {
        python: `class UserSolution(Soln):
    def solve(self, a, b):
        return "answer"`,
        javascript: `class UserSolution extends Soln {
  solve(a, b) {
    return 'answer'
  }
}`,
      }[lang])

  }
  updateCode();

  window.updateCode = updateCode
  window.jar = jar
</script>
<script>
  let questionText = document.querySelector('#question-text')
  let converter = new showdown.Converter()
  let converted = converter.makeHtml(questionText.innerHTML);
  console.log(converted)
  questionText.innerHTML = converted

  let user = localStorage.getItem("username")
  if (!user) {
    let modal = document.getElementById("user-modal");
    modal.style.display = "block";
  } else {
    document.querySelector('#username').value = user
  }

  function saveUsername() {
   let name = document.querySelector('#username-input').value

   if (name) {
     document.querySelector('#username').value = name
     localStorage.setItem("username", name)
     let modal = document.getElementById("user-modal");
     modal.style.display = "none";
   }
  }


  function getData(){
        let elements = document.querySelector('#form').elements
        let obj = {};
        for(let i = 0 ; i < elements.length ; i++){
            var item = elements.item(i);
            obj[item.name] = item.value;
        }
        obj['code'] = jar.toString()
        return obj
    }

    function testCode(e){
        e.preventDefault();
        const obj = getData();
        let output = document.querySelector('#output')

        output.innerHTML = `<div class="loader"></div>`

        fetch('test/', {
            method: 'post',
            headers: {
             'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        })
        .then(r => r.json())
        .then(r => {
            let html = ''
            console.log(r)
            for (let line of r.STDOUT) {
                html += `<p>${line}</p>`
            }
            output.innerHTML = html
        })
        .catch(e => alert(e))
    }
    function submitCode(e){
        e.preventDefault();
        const obj = getData();
        let output = document.querySelector('#output')
        output.innerHTML = `<div class="loader"></div>`

        fetch('submit/', {
            method: 'post',
            headers: {
             'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        })
        .then(r => window.location.href = 'leaderboard/')
        .catch(e => alert(e))
    }
</script>
</body>
</html>
