<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>
</head>
<body>
<h1>{{ question.name }}</h1>
<p>{{ question.description }}</p>
<h3>Test questions</h3>
{% for test in question.questions %}
<h4>Test {{ loop.index }}</h4>
<p>INPUT: {{ test.input }}</p>
<p>ANSWER: {{ test.answer }}</p>
{% endfor %}


<form id="form" onsumbit="event.preventDefault()">
    <input type="text" id="username" name="username" placeholder="username">
    <select name="language" id="language" onchange="updateCode()">
      <option value="python">Python3</option>
      <option value="javascript">Javascript</option>
    </select>
    <textarea id="code" name="code" rows="4" cols="50">
class UserSolution(Soln):
    def solve(self, a, b):
        return "answer"
    </textarea>
    <button onclick="testCode(event)">Test</button>
    <button onclick="submitCode(event)">Submit</button>
</form>
<div id="output">
</div>

<script>
    function updateCode() {
        let lang = document.querySelector('#language').value
        document.querySelector('#code').value = {
            python: `class UserSolution(Soln):
    def solve(self, a, b):
        return "answer"`,
            javascript: `class UserSolution extends Soln {
  solve(a, b) {
    return 'answer'
  }
}`,
        }[lang]

    }
    function getData(){
        let elements = document.querySelector('#form').elements
        var obj = {};
        for(let i = 0 ; i < elements.length ; i++){
            var item = elements.item(i);
            obj[item.name] = item.value;
        }
        return obj
    }

    function testCode(e){
        e.preventDefault();
        const obj = getData();

        fetch('test/', {
            method: 'post',
            headers: {
             'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        })
        .then(r => r.json())
        .then(r => {
            let html = ''
            console.log(r)
            for (let line of r.STDOUT) {
                html += `<p>${line}</p>`
            }
            document.querySelector('#output').innerHTML = html
        })
        .catch(e => alert(e))
    }
    function submitCode(e){
        e.preventDefault();
                const obj = getData();

        fetch('submit/', {
            method: 'post',
            headers: {
             'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        })
        .then(r => window.location.href = 'leaderboard/')
        .catch(e => alert(e))
    }
</script>
</body>
</html>
